# subconverter cache
utils/subconverter/cache/
# pycache
utils/pool/__pycache__/
utils/clashcheck/__pycache__/
# ClashCheck cache & temp
utils/clashcheck/temp/
utils/clashcheck/cache.db
utils/rm/node_modules/
utils/rm/rm1
utils/rm/rm2
utils/rm/out
utils/subconverter/rm1
utils/subconverter/etoneya.yaml
utils/pool/etoneya.yaml
